@page "/access-denied"


<div class="container">
    <h3>Acesso Negado</h3>
    <img src="./access-denied.png" style="width:200px; height:200px" alt="Acesso negado" />
    <br />
    <span>Você não tem permissão para aceder a esta página.</span>
</div>



