@page "/login"

@using MyBookShelf.Data
@using MyBookShelf.Models.Entities
@using MyBookShelf.Models.ViewModels
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using MyBookShelf.Services
 
@inject AppDbContext appDbContext
@inject NavigationManager navigationManager
@inject IHttpContextAccessor HttpContextAccessor
@inject IPasswordService PasswordService

<PageTitle>Login</PageTitle>

<div class="page">

    <div class="login-container">
        <div class="logo-container">
            <img src="/logo_azul_nobg.png" alt="Logo My Book Shelf" class="logo-image" />
        </div>
        <EditForm Model="@Model" method="Post" OnValidSubmit="LoginUserAsync" FormName="@LoginForm">
            <DataAnnotationsValidator />
            <InputText @bind-Value="Model.Username" type="text" placeholder="Utilizador"></InputText>
            <ValidationMessage For="() => Model.Username"/>
            <InputText @bind-Value="Model.Password" type="password" placeholder="Palavra-passe"></InputText>
            <ValidationMessage For="() => Model.Password" />
            <span class="error-message">@errorMessage</span>
            <button type="submit">Entrar</button>
            <br /> 
            <br />
            <p>Esqueceu sua palavra-passe? Clique <a href="/securityAnswerValidation">aqui</a>.</p>
        </EditForm>
    </div>
</div>