@page "/register"
@using MyBookShelf.Data
@using MyBookShelf.Models.Entities
@using MyBookShelf.Models.ViewModels
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using MyBookShelf.Services
@using BlazorBootstrap

@rendermode InteractiveServer

@inject AppDbContext appDbContext
@inject NavigationManager navigationManager
@inject IHttpContextAccessor HttpContextAccessor
@inject IPasswordService PasswordService



<PageTitle>Registo</PageTitle>

<div class="page">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="login-container">
        <div class="logo-container">
            <img src="/logo_azul_nobg.png" alt="Logo My Book Shelf" class="logo-image" />
        </div>

       
        @if (isSuccessAlertVisible)
        {
            <Alert @ref="successAlert" Color="AlertColor.Success">
                <strong>Conta criada com sucesso!</strong>                  
                <button class="btn btn-outline-success" @onclick="LoginSuccessAlert">Seguir para login</button>
            </Alert>
        }        
        @if (isErrorAlertVisible)
        {
            <Alert Color="AlertColor.Danger">
                <strong>Erro!</strong> @errorMessage
            </Alert>
        }
        
        <EditForm Model="@Model" OnValidSubmit="RegisterUser" FormName="RegisterForm">
            <DataAnnotationsValidator />
            <InputText @bind-Value="Model.Username" type="text" placeholder="Escolha seu nome de utilizador"></InputText>
            <ValidationMessage For="() => Model.Username" />
            <InputText @bind-Value="Model.Password" type="password" placeholder="Escolha sua palavra-passe"></InputText>
            <ValidationMessage For="() => Model.Password" />
            <InputText @bind-Value="Model.ConfirmPassword" type="password" placeholder="Confirme sua palavra-passe"></InputText>
            <ValidationMessage For="() => Model.ConfirmPassword" />
            <div class="security-question">
                <label>Pergunta de Segurança:</label>
                <InputSelect class="form-select" id="inputGroupSelect01" @bind-Value="Model.SecurityQuestion">
                    <option value="Qual é o nome do seu primeiro animal de estimação?">Qual é o nome do seu primeiro animal de estimação?</option>
                    <option value="Qual é o nome da sua escola primária?">Qual é o nome da sua escola primária?</option>
                    <option value="Qual é o sobrenome da sua mãe?">Qual é o sobrenome da sua mãe?</option>
                </InputSelect>
                <label>Resposta:</label>
                <InputText @bind-Value="Model.SecurityAnswer" type="text" placeholder="Insira sua resposta" />
                <ValidationMessage For="() => Model.SecurityAnswer" />
            </div>          
            @* <span class="error-message">@errorMessage</span> *@
            <br />
            <button type="submit">Registar</button>
        </EditForm>        
    </div>
    <br />
    <br />
    <br />
    <br />
</div>


