/* Centralização da página */
.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center; 
    align-items: center; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
}


.error-message {
    color: red;
    font-weight: bold;
    padding: 20px;
}