@page "/reset-password"
@using MyBookShelf.Models.ViewModels
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Redefinir Senha</PageTitle>

<div class="container">
    <EditForm Model="@ResetModel" OnValidSubmit="SubmitNewPassword" FormName="@ResetPasswordForm">
        <InputText @bind-Value="ResetModel!.Token" placeholder="Token" />
        <InputText @bind-Value="ResetModel.NewPassword" type="password" placeholder="Nova Senha" />
        <button type="submit">Redefinir Senha</button>
    </EditForm>    
</div>

