@page "/progress"
@using Microsoft.AspNetCore.Authorization
@using MyBookShelf.Components.Pages.Graph
@using MyBookShelf.Services
@attribute [Authorize(Roles = "Administrator, User")]
@rendermode InteractiveServer

<PageTitle>Progresso</PageTitle>

<div class="container">
    <br />
    <br />
    <br />
  
    <h2>Acompanhe Sua Evolução</h2>
   
    <p>
        Visualize seu progresso de leitura de forma clara e motivadora. Escolha o período que deseja analisar:
    </p>

    <div class="graph-wrapper">
        <div>
            <h3>Status dos Livros</h3>
            <ReadingStatus />
        </div>

        <div>
            <h3>Páginas Lidas</h3>
            <PageStatus />
        </div>
    </div>
</div>





