.mb-3 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px; 
}

.date-filter {
    display: flex;
    flex-direction: row; 
    gap: 10px; 
    justify-content: center; 
    width: 100%; 
    max-width: 500px; 
}

    .date-filter input {
        flex: 1 1 auto; 
        max-width: 200px; 
        min-width: 150px; 
    }

.mb-3 button {
    margin-top: 10px; 
    align-self: center; 
}

@media print {
    /* Oculta botões e elementos desnecessários */
    .noprint {
        display: none !important;
    }
}

